<%
logtime_entry = update_logtime[:logtime_entry]
issue = update_logtime[:issue]
if(@time_entries[update_logtime_counter].nil?)
  @time_entries[update_logtime_counter] = TimeEntry.new;
end
%>
<div class="box">
  <table>
    <tr id="spent_time_<%= update_logtime_counter %>_validation_failed" style="display: none">
      <td style="color: red; background: yellow; font-size: 0.9em" colspan="2">
        Spent time value must be a number like 1.5
      </td>
    </tr>
    <tr id="activity_<%= update_logtime_counter %>_validation_failed" style="display: none">
      <td style="color: red; background: yellow; font-size: 0.9em" colspan="2">
        You must choose an activity !!
      </td>
    </tr>
    <tr id="date_<%= update_logtime_counter %>_validation_failed" style="display: none">
      <td style="color: red; background: yellow; font-size: 0.9em" colspan="2">
        Date is not in valid format (YYYY-MM-DD) !!
      </td>
    </tr>
    <% if !logtime_entry.nil? %>
      <tr class="issue-details"><td colspan="2">
          <%= hidden_field_tag "issue_id[#{update_logtime_counter}]", issue.id %>
          <%= hidden_field_tag "recorded_time_id[#{update_logtime_counter}]", logtime_entry.id %>
          <%= link_to('#' + issue.id.to_s, :controller => 'issues', :action => 'show', :id => issue) %>
          - <%= h(issue.project.name) %> -
          <%= link_to(h(issue.subject), :controller => 'issues', :action => 'show', :id => issue) %>
        </td></tr>
      <tr>
        <td>
          <%= label_tag 'logtime_entry_date', 'Logged in' %>
          <span class="date_field">
            <%= text_field_tag "logtime_entry[#{update_logtime_counter}][date]",
              logtime_entry.start_date.strftime("%Y-%m-%d"), { :onblur => "validate_fields()" } %>
          </span>
        </td>
      </tr>
      <tr>
        <% allowed_statuses = issue.new_statuses_allowed_to(User.current) %>
        <td> <%= label_tag 'logtime_entry_status', 'Status' %>
          <% if !allowed_statuses.empty? %>
            <%= select_tag "logtime_entry[#{update_logtime_counter}][status]",
              options_for_select(allowed_statuses.collect {|p| [p.name, p.id]},
              issue.status_id), :required => true %>
          <% else %>
            <%= issue.status.to_s %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td> <%= label_tag 'logtime_entry_assigned_to', 'Assigned to' %>
          <%= select_tag "logtime_entry[#{update_logtime_counter}][assigned_to]",
            options_for_select(issue.assignable_users.collect {|m| [m.name, m.id]},
            issue.assigned_to_id), :include_blank => true %>
        </td>
        <td> <%= label_tag 'logtime_entry_done_ratio', 'Done ratio' %>
          <%= select_tag "logtime_entry[#{update_logtime_counter}][done_ratio]",
            options_for_select((0..10).to_a.collect {|r| ["#{r*10} %", r*10] },
            issue.done_ratio) %>
        </td>
      </tr>
      <tr>
        <td> <%= label_tag "logtime_entry_spent_time_#{update_logtime_counter}", 'Spent time' %>
          <span class="text_field">
            <%= text_field_tag "logtime_entry[#{update_logtime_counter}][spent_time]",
              logtime_entry.recorded_time, { :onblur => "validate_fields()", :style => "width: 100px" } %>
          </span>
        </td>
        <td> <%= label_tag 'logtime_entry_activity', 'Activity' %>
          <span class="select_field">
            <%= select_tag "logtime_entry[#{update_logtime_counter}][activity]",
              options_for_select([["--- Please select ---", -1]] + LogtimeEntry.Activities.collect{|p| [p.name, p.id]}),
              :class => 'activitySelect', :onchange => 'validate_fields()' %>
          </span>
        </td>
      </tr>
      <tr>
        <td colspan="2"> <div class="comment_lab"><%= label_tag  'logtime_entry_comments', 'Comments' %></div>  <%= text_area_tag "logtime_entry[#{update_logtime_counter}][comments]", nil,
          :class => 'comments_text_area', :onkeypress => 'return imposeMaxLength(this, 255)' %> </td>
      </tr>
      <% @time_entries[update_logtime_counter].custom_field_values.each do |value| %>
        <tr>
          <td>
            <%= custom_field_tag_with_label "time_entries[#{update_logtime_counter}]", value %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
