<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<% if @user == User.current %>
  <%= javascript_tag 'var editable = true;' %>
<% else %>
  <%= javascript_tag 'var editable = false;' %>
<% end %>

<form id="endOfWorkForm" method="post" action="/stuff_to_do/save_logtime">
  <%= render :partial => 'update_logtime', :collection => @entries %>
  <br/>
  <input type="button" title="Save all" onclick="submitEndOfWork()" id="save_logtime_button"
         value="SAVE ALL"/>
</form>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "stuff_to_do.css", :plugin => "stuff_to_do_plugin", :media => 'all' %>
  <%= javascript_include_tag 'gyModalbox.js', :plugin => 'stuff_to_do_plugin' %>
  <%= javascript_include_tag 'gyStuffToDo.js', :plugin => 'stuff_to_do_plugin' %>
<% end %>
